/* Font */
@font-face {
  font-family: "Neue Montreal";
  src: url("/assets/fonts/PPNeueMontreal-Thin.otf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/assets/fonts/PPNeueMontreal-Book.otf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/assets/fonts/PPNeueMontreal-Medium.otf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("https://cdn.shopify.com/s/files/1/2642/6578/t/28/assets/PPNeueMontreal-Variable.woff2?v=169719616912379019201647548636");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/assets/fonts/PPNeueMontreal-Bold.otf");
  font-weight: 700;
  font-display: swap;
}

/* @font-face {
  font-family: 'neue-montreal';
  src: url("https://cdn.shopify.com//s/files/1/2642/6578/t/28/assets/PPNeueMontreal-Variable.woff2?v=169719616912379019201647548636") format('truetype');
  font-weight: 200 800;
  font-display: swap;
}

@font-face {
  font-family: 'neue-montreal';
  src: url("https://cdn.shopify.com//s/files/1/2642/6578/t/28/assets/PPNeueMontreal-Variable.woff2?v=169719616912379019201647548636") format('truetype');
  font-weight: 200 800;
  font-display: swap;
  font-style: italic;
} */


html,
body {
  padding: 0;
  margin: 0;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background: #050505;
  color: #fff;

  --swiper-theme-color: rgb(42, 42, 255);
  --m-color: #5542F7;
  --web-color: #5541f8;
}


/* To Avoid Default Behaviour */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html *, html :after, html :before {
  box-sizing: border-box;
}

html {
  --sbw: 0px;
  min-height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #050505;
  color: #fff;
  font-weight: 400;
  font-family: neue-montreal, neue_montreal, sans-serif;
  font-size: 2.66667vw;
  font-size: calc(2.66667vw - var(--sbw)/37.5);
}

@media (min-width: 1024px) {

  html {
      font-size: .69444vw;
      font-size: calc(.69444vw - var(--sbw)/144);
  }

}

body{
  /* overflow-y: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Neue Montreal", neue_montreal, Arial, Helvetica, sans-serif;
}

[data-scroll-container] {
  will-change: transform;
}

/* no scroll up problem solutions */
[data-scroll-container] {
  perspective: 1px;
}

/* Overflow problem scrolling in x-axis */
[data-scroll-container] {
  overflow-x: hidden;
  overflow-y: auto !important;
}

ol, ul{
  list-style: none;
}